* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    background-color: rgb(255, 248, 240);
    padding: 16px;
}

footer {
    text-align: center;
    color: rgb(114, 5, 5);
    background-color: #f7f1e3;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
    display: block;
    margin: auto;
}

nav {
    background-color: #f7edd8;
    border-bottom: 1px;
    padding: 16px;
}

.nav_button {
    color: rgb(114, 5, 5);
}

h1 {
    color: #e58e26;
    text-align: center;
}

h2 {
    color: #c2791f;
    text-align: center;
}

.stars {
    color: #1e3799;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
}

div {
    text-align: center;
}

ol {
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: auto;
}

table {
    margin: auto;
}

tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,400px);
    grid-template-rows: repeat(1,1fr);
    justify-content: center;
}
